<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
	<form method="POST" th:action="@{/import-to-csv}" enctype="multipart/form-data">
    	<div class="form-group mt-3">
        	<label for="file">Select a CSV file</label>
        	<input type="file" name="file" class="form-control col-sm justify-content-start" id="file" accept=".csv">
    	</div>
    	<button type="submit" class="btn btn-primary">Import Records</button>
	</form>
</div>
</body>

</html>